<html>
  <head>
    <title>{{ page_name }} | LAET</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/payments.css" />
    <link rel="stylesheet" href="/static/navbar.css" />
  </head>
  <body>
    <div class="Navbar">
      <a class="NavElement" href="/"><img src="/static/DojoLogo.png" /></a>
      <a class="NavElement" href="/">All payments</a>
      <a class="NavElement" href="/today">Today's payments</a>
      <a class="NavElement" href="/yesterday">Yesterday's payments</a>
      <a class="NavElement" href="/this-week">Payments this week</a>
      <a class="NavElement" href="/take-a-payment">Take a payment</a>
      <a class="NavElement" href="/tasks">Tasks</a>
    </div>
    <div class="w-full flex justify-center">
      <div class="p-4">
        <div class="pb-2"></div>
        <h2 class="pb-2 text-3xl font-medium">LAET Payments</h2>
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
