{% extends "base.html" %} {% block content%}

<h1 class="pb-8 text-4xl font-medium">{{ page_name }}</h1>
<form>
  <div class="flex gap-4">
    <input
      class="grow-[3] h-12 text-lg border-2 border-gray-300 rounded-md pl-3 pr-3"
      name="search"
      type="text"
      placeholder="Search payments"
      value="{{ search }}"
    />
    <select name="status" class="grow-[2] h-12 text-lg border-2 border-gray-300 rounded-md pl-3 pr-3">
              <option {% if status == "" %} selected {% endif %} value="">All</option>
              <option {% if status == "success" %} selected {% endif %} value="success">Success</option>
              <option {% if status == "refunded" %} selected {% endif %} value="refunded">Refunded</option>
              <option {% if status == "failed" %} selected {% endif %} value="failed">Failed</option>
    </select>
    <button class="grow-[1] h-12 text-lg rounded-full bg-green-900 hover:bg-green-800 transition-all text-white">Search</button>
  </div>
</form>
<div class="flex gap-16 justify-center h-12 items-center">
  <p class="text-xl text-green-800 font-medium">
    Total Takings: {{ total_takings }}
  </p>
  <p class="text-xl text-red-800 font-medium">
    Total Refunds: {{ total_refunds }}
  </p>
</div>
<div class="flex justify-center">
  <table class="flex-grow max-w-screen-md">
    <thead class="font-bold">
      <tr class="h-16">
        <td class="w-1/5">Amount</td>
        <td class="w-1/5">Date</td>
        <td class="w-1/5">Method</td>
        <td class="w-1/5">Status</td>
        <td class="w-1/5"></td>
      </tr>
    </thead>
    <tbody>
      {% for payment in payments %}
      <tr class="h-16">
        <td>{{ payment.amount }}</td>
        <td>{{ payment.date }}</td>
        <td>{{ payment.method }}</td>
        <td>{{ payment.status }}</td>
        <td class="justify-end items-middle">
          <a href="{{path}}?refund={{payment.id}}" class="p-2 text-center block rounded-full bg-green-100 hover:bg-green-200 transition-all"> Refund </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if dialog %}
<a href="/" class="fixed top-0 left-0 w-full h-full bg-black/50 z-10"> </a>
<div
  class="fixed bg-white left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 w-full min-h-96 max-w-96 z-20 flex justify-center"
>
<form method="POST">
  {% csrf_token %}
  {{ payment_form.as_p }}
  <button type="submit">Search</button>
</form>
</div>

{% endif %} {% endblock %}
