{% extends "base.html" %} {% block content%}

<div class="mb-8">
  <h2 class="pb-4 text-3xl font-medium">The challenge: finish this website!</h2>
  <ol class="list-disc leading-10">
    <li>Have a look around the website and see what works and what doesn't</li>
    <li>
      Go to the <code>helpers.py</code> file and start implementing the
      functions
    </li>
    <li>
      If you implement all of the functions, talk to one of your facilitators
      and we'll set you a new challenge
    </li>
    <li>Have fun!</li>
  </ol>
</div>

<div>
  <h2 class="pb-4 text-3xl font-medium">Hints:</h2>
  <ol class="list-disc leading-10">
    <li>
      You don't need to run your code each time you change it, just refresh the
      website (press command-R)
    </li>
    <li>
      Don't forget to save your code before you refresh the website (command-S)
    </li>
    <li>
      If you <code>print()</code> a variable it will come out in the terminal in
      VS Code
    </li>
    <li>
      Read the comments for each function before you start implementing it
    </li>
    <li>Ask your facilitators lots of questions</li>
    <li>
      Use Google if you can't remember the right syntax for something
      (professional software developers use Google constantly)
    </li>
    <li>Name your variables well and your code will be easier to debug</li>
    <li>
      Simple code is good code (and if you try something fancy it might be hard
      to debug)
    </li>
  </ol>
</div>

{% endblock %}
