{% extends "base.html" %} {% block content%}

<h1 class="pb-4 text-3xl font-medium">Hi! Welcome!</h1>

<p>
  All tasks can be found in the readme file <br />
  <br />
  Theres no pressure to finish all or any of the tasks!
  <br />
  <br />
  1. Complete the refund feature <br />2. Complete total takings <br />3.
  Implement the drop down <br />4. Implement text search <br />5. Implement
  todays payments filter <br />6. Yesterdays payments filter <br />7. payments
  this week filter <br />8. Sort the transactions by date <br />9. Only show
  refund button if transaction was successful <br />10. Change the css and
  styling of take payments to make it look nicer
  <br />
  <br />
  Feel free to tackle the tasks in any order you like!
  <br />
  <br />
  And feel free to ask any questions if you have any!
</p>

{% endblock %}
